<section id="main">
  <h1 id="homeTitle"><!--  456-->{{ main.computerSize }} {{ 'foundComputer.title' | i18n }}
   <!-- <c:if test="${page.search!=''}">with "{{main.search}"</c:if></h1>-->
  <div id="actions">
    <form class="form-inline" action="" method="GET">
      <input class="form-control" type="search" id="searchbox" name="search"
             ng-model="submitSearch" ng-model="submitSearch" value="{{main.search}}" placeholder="{{'searchComputer.title' | i18n}}">
      <!--
      <input type="hidden" name="page" ng-model="submitPageNumber" value="1">
      <input type="hidden" name="orderBy" ng-model="submitOrderBy" value="{{main.orderBy}}">
      <input type="hidden" name="isDesc" ng-model="submitIsDesc" value="{{main.isDesc}}">
      <input type="hidden" name="nbPage" ng-model="submitNbPage" value="{{main.nbPage}}">
      <!--<input type="submit" id="searchsubmit"
             value="{{ 'filterComputer.title' | i18n }}"
             class="btn btn-primary">-->
      <a  id="searchsubmit" class="btn btn-primary" ng-href="/#/?search={{submitSearch}}&page={{main.pageNumber}}&orderBy={{main.orderBy}}&isDesc={{main.isDesc}}&nbPage={{main.nbPage}}">{{ 'filterComputer.title' | i18n }}</a></th>
      <th>

    </form>
    <a class="btn btn-success" id="add" ng-href="/#AddComputer">{{ 'addComputer.title' | i18n}}</a>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <!-- Variable declarations for passing labels as parameters -->
      <!-- Table header for Computer Name -->

      <th><a ng-href="/#/?search={{main.search}}&page={{main.pageNumber}}&orderBy=2&isDesc={{(main.isDesc == false)?main.isDesc=true:main.isDesc=false}}&nbPage={{main.nbPage}}">{{ 'Computer.title.name' | i18n }}</a></th>
      <th><a ng-href="/#/?search={{main.search}}&page={{main.pageNumber}}&orderBy=3&isDesc={{(main.isDesc == false)?main.isDesc=true:main.isDesc=false}}&nbPage={{main.nbPage}}">{{ 'Computer.title.introduced' | i18n }}</a></th>
      <!-- Table header for Discontinued Date -->
      <th><a ng-href="/#/?search={{main.search}}&page={{main.pageNumber}}&orderBy=4&isDesc={{(main.isDesc == false)?main.isDesc=true:main.isDesc=false}}&nbPage={{main.nbPage}}">{{ 'Computer.title.discontinued' | i18n }}</a></th>
      <!-- Table header for Company -->
      <th><a ng-href="/#/?search={{main.search}}&page={{main.pageNumber}}&orderBy=6&isDesc={{(main.isDesc == false)?main.isDesc=true:main.isDesc=false}}&nbPage={{main.nbPage}}">{{ 'Computer.title.company' | i18n }}</a></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in main.computerList">
        <td><a href="/#AddComputer?id={{item.id}}">{{item.name}}</a></td>
        <td>{{item.introduced}}</td>
        <td>{{item.discontinued}}</td>
        <td>{{item.company.name}}</td>
        <td>
          <a class="btn btn-danger" ng-click="main.deleteComputer(item.id)">
            {{ 'deleteComputer.title' | i18n }}
          </a>
        </td></tr>
        <!--
           <tr>
               <td><a href="#" onclick="">ThinkPad T420</a></td>
               <td>2011-01-01</td>
               <td>2013-03-04</td>
               <td>Lenovo</td>
           </tr>
           <tr>
               <td><a href="#">Precision 3500</a></td>
               <td>2010-05-07</td>
               <td>2012-06-01</td>
               <td>Dell</td>
           </tr>
           <tr>
               <td><a href="#">Macbook Air</a></td>
               <td>2005-05-09</td>
               <td>2008-06-06</td>
               <td>Apple</td>
           </tr>
           -->
    </tbody>
  </table>
    <div align="center">
      <ul class="pagination">
        <li>
          <a ng-href="/#/?search={{main.search}}&page={{(main.pageNumber-1<main.begin)?main.pageNumber=main.begin:main.pageNumber-1}}&orderBy={{main.orderBy}}&isDesc={{main.isDesc}}&nbPage={{main.nbPage}}">&laquo;</a></th>
        </li>
        <li ng-repeat="number in main.pagination track by $index">
          <a ng-href="/#/?search={{main.search}}&page={{number}}&orderBy={{main.orderBy}}&isDesc={{main.isDesc}}&nbPage={{main.nbPage}}">{{number}}</a></th>
        </li>
        <li>
          <a ng-href="/#/?search={{main.search}}&page={{(main.pageNumber+1>main.end)?main.pageNumber=main.end:main.pageNumber+1}}&orderBy={{main.orderBy}}&isDesc={{main.isDesc}}&nbPage={{main.nbPage}}">&raquo;</a></th>
        </li>
      </ul>
    </div>
</section>
